<h1>Listing styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for style in @styles %>
  <tr>
    <td><%=h style.name %></td>
    <td><%=h style.description %></td>
    <td><%= link_to 'Show', style %></td>
    <td><%= link_to 'Edit', edit_style_path(style) %></td>
    <td><%= link_to 'Destroy', style, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New style', new_style_path %>
